.checkout-items-container {
    margin-top: 30px;
    /* margin-left: 20px; */
    /* background-color: thistle; */
}
.Heading-Edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cart-heading {
    margin-left: 30px;
}
.shopping-basket {
    margin-bottom: 5px;
    margin-right: 30px;
    font-size: 2rem;
}
.checkout-items-sub-container {
    max-height: 500px;
    overflow-y: scroll;
    margin-top: 20px;
}
.checkout-items-individual-container {
    width: 100%;
    margin-bottom: 30px;

    display: flex;
    justify-content: flex-start;
}
.checkout-item-img-container {
    width: 50%;
}
img {
    width: 100%;
}

.checkout-item-name {
    align-self: center;
    margin-right:1rem;
}
#table {
    padding-top: 1rem;

}

#table .MuiPaper-root {
    background-color: white !important;
}
/* MEDIA QUERIES */

@media only screen and (max-width: 900px) {
    .checkout-item-name {
        display: none
    }
    .checkout-items-individual-container {
        justify-content: center;
    }
}

@media only screen and (max-width: 800px) {
    .checkout-items-sub-container {
        max-height: 100%;
        display: flex;
        overflow-x: scroll;
        /* width: 100vw */
    }
    #table {
        width: 100%;
        /* margin: auto; */
        margin-top: 10px;
    }
    .makeStyles-tableContainer-3 {
        width: 75% !important
    }
    .shopping-basket {
        margin-bottom: 6px;
        margin-top: 11px;
    }
    .checkout-item-img-container {
        /* width: 100%; */
        width: 30vw;
    }
}

@media only screen and (max-width: 600px) {
    #cart-heading {
        font-size: 0.5em;
    }
    .shopping-basket {
        font-size: 1.5rem;
    }
    #edit {
        font-size: 0.3em;
    }
    /* .checkout-item-img-container {
        width: 75%;
    } */
    .shopping-basket {
        font-size: 19px;
    }
    .makeStyles-tableContainer-3 {
        width: 100% !important
    }
}

