.checkout-items { 
    grid-area: side;
}
#checkout-shipping-payment {
    /* background-color: #312f2f; */
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    margin-bottom: 20px;
    
}
.checkout-shipping { 
    grid-area: main1; 
    background-color: #E8EAED;
    border-radius: 2rem;
    margin-left: 20px;
    margin-top: 30px;
    /* font-size: 1.5em; */
    /* height: 50vh; */
 

}
.checkout-payment { 
    grid-area: main2; 
    background-color: #f2f3f5;
    border-radius: 2rem;
    margin-left: 20px;
    margin-top: 20px;
}

#payment-form {
    margin-top: 50px;
    display: grid;
    grid-template-areas: 
        'main1 main1 main1 side'
        'main2 main2 main2 side';
    grid-column-gap: 10px;
    grid-template-columns: 55%;
    margin-right: 20px;
    /* margin-left: 10px; */
    width: 100vw;
    
}

.grid-container > div {
    text-align: center;
}

h2 {
    color: #A4ABB7;
    padding-top: 30px;
}

/* INPUT ERRORS */
.warning  {
    font-size: 0.6rem;
    font-style: italic;
}

@media only screen and (max-width: 800px) {
    #payment-form {
        display: flex;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 600px) {
    #payment-form {
        font-size: 0.75rem !important;
    }
    h2 {
        font-size: 1.25rem !important;
    }
}

/* style={{content: {position: "absolute", inset: '124px'}}} */