@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

#names-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.state-zipcode {
    display: grid;
    grid-template-columns: 50% 50%;
}

#first-name-container {
    margin-right: 10px;
}

#checkout-shipping-line1, #checkout-shipping-line2, #city-container, #names-container, .state-zipcode {
    margin-bottom: 10px !important;
}

#save-default-container {
    display: flex;
    align-items: center;
}

#address-default-label {
    margin-bottom: 0rem;
}

#shipping-form {
    box-shadow: none;
    padding: 0px;

}

/* ALL INPUTS */
#shipping-form .MuiInputBase-root {
    padding-top: 1rem !important;
    padding-left: 7px;
}
#shipping-form .MuiInputBase-input {
    padding-top: 1rem !important;
}
#shipping-form .MuiFormHelperText-root {
    margin-left: 0px;
    margin-right: 0px;
}
.MuiInputBase-input, .MuiFilledInput-input, .MuiFormLabel-root, .MuiFormHelperText-root {
    font-family: 'Average Sans', sans-serif !important;
}

/* STATE INPUTS */
#checkout-shipping-state-container {
    margin-right: 10px;
}
#checkout-shipping-state-container > .MuiFormControl-root {
    width: 100%;
    margin: 0 !important;
}
#checkout-shipping-state-container .MuiFormControl-root > .MuiInputBase-root {
    padding-top: 0rem !important;
    width: 100%;
}
#checkout-shipping-state-container .MuiSelect-root {
    padding-top: 1.5rem !important;
    height: 0 !important;
}
#checkout-shipping-state-container .MuiSelect-iconFilled {
    right: 0px !important;
}
.MuiFormHelperText-root {
    color: red !important;
}

/* POSTAL CODE SELECT */
#postalcode-container .MuiInputBase-root {
    line-height: 0 !important;
    padding-top: 9px !important;
}
#postalcode-container .MuiSelect-iconFilled {
    left: 60px;
}
.MuiPopover-root .MuiPaper-root {
    color: white;
}

/* PHONE NUMBER*/
#shipping-phoneNumber > .MuiFormControl-root {
    width: 100%;
    border-radius: 4px;
    background-color: #DEDEDE;
}
#shipping-phoneNumber label {
    margin-left: 10px !important;
    /* margin-bottom: 2rem !important; */
    margin-bottom: 0rem !important;
    margin-top: 7px;
}

#shipping-phoneNumber .MuiInputBase-input {
    padding-top: 0.75rem !important;
}
#shipping-phoneNumber .MuiInputBase-root {
    padding-top: 0 !important;
}

/* Buttons */

#next-shipping-button, #save-shipping-button, #cancel-shipping-button{
    margin-top: 20px;
}
#save-shipping-button {
    margin-right: 10px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 950px) {
    #checkout-shipping-state-container .MuiSvgIcon-root {
        margin-top: 0.5rem;
    }
}
@media only screen and (max-width: 800px) {
    #shipping-form {
        width: 100%
    }
}

@media only screen and (max-width: 600px) {
    #shipping-form  .MuiInputBase-root, #shipping-phoneNumber > .MuiFormLabel-root, #shipping-form  label{
        font-size: 0.9rem !important;
    }
    #checkout-shipping-state-container .MuiSelect-root {
        padding-top: 1.25rem !important;
    }
    .state-zipcode {
        display: block;
       
    }
    #checkout-shipping-state-container {
        margin-bottom: 10px;
    }
    #checkout-shipping-state-container {
        margin-right: 0px !important;
    }
}

