.one-address-container {
    height: 12em;
    width: 20em;
    background-color: #21212B;
    color: #fff;
    display: flex;
    padding: 1rem 0rem 0rem 1rem;
    flex-direction: column;
    margin: 0.5rem;
    border-radius: 1rem;
    font-family: 'Mukta Vaani', sans-serif;
}

.one-address-container-empty {
    height: 12em;
    width: 20em;
    background-color: #e8e8e8;
    visibility: hidden;
    color: #000;
    display: flex;
    padding: 1rem 0rem 0rem 1rem;
    flex-direction: column;
    margin: 0.5rem;
    border-radius: 1rem;
}

.person-name {
    font-size: 1rem;
    font-weight: bold;
    cursor: default;
}

.address {
    font-size: 0.8rem;
    color: #c8c8c8;
    cursor: default;
}

.default-indicator{
    /* position: absolute; */
    margin-top: 0.5rem;
    border-radius: 1rem;
    background-color: #61e053;
    color: #000;
    width: 4rem;
    text-align: center;
    font-size: 0.8rem;
    cursor: default;
}

.update-address {
    position: relative;
    top: 45%;
    display: flex;
    width: 5rem;
    font-size: 1rem;
    justify-content: space-between;
}

.update-address-default {
    position: relative;
    top: 30%;
    display: flex;
    width: 5rem;
    font-size: 1rem;
    justify-content: space-between;
}

.update-address > div:hover, .update-address-default > div:hover {
    text-decoration: underline;
    cursor: pointer;
}
