.MuiPagination-ul {
    justify-content: center;
}

.review-user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-review-button-container {
    display: flex;
    justify-content: flex-end;
}

.user-review-button-container > button:nth-child(1) {
    margin-right: 1rem;
}