.user-profile-container {
    margin-top: 5rem;
    width: 100vw;
    display: flex;
    /* grid-template-columns: 15% 85%; */
    flex-direction: column;
    background-color: #101016;
}

.user-profile {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100%;
}

.left-bar {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #21212B;
}

.highlighted-tab {
    background-color: #fff !important;
    color: #000 !important; 
}

.left-bar > div {
    cursor: pointer;
    width: 100%;
    height: 5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: 'Mukta Vaani', sans-serif;
}

/* .right-side {
    height: 100%;
} */

.side-bar > div:hover {
    background-color: #c8c8c8;
}

.addresses-container-noInfo, .payments-container-noInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.addresses-container, .payments-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem;
    font-family: 'Average Sans', sans-serif;
}

.header {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
}

.add-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
    cursor: pointer;
    font-size: 24px;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #fff;
    background-color: #21212B;
    font-weight: bold;
}

.add-address:hover {
    color: #000;
    background-color: #fff;
    /* border: 1px solid #000; */
}

.all-address-container, .all-payment-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.all-addresses-container, .all-payments-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.all-payments-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.all-addresses-container {
    display: flex;
    justify-content: center;
}

.form > h2 {
    margin-bottom: 2vh;
}

.form > input {
    margin-top: 1rem;
}

.default-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
}

.default-container > label {
    margin-bottom: 0px !important;
}

input[type=checkbox] {
    width: initial;
    margin: 0vh 2vw;
}

.submit-default-button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}