.cart {
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 0 2rem;
}

.cart-items > div {
    margin-bottom: 1rem;
}

.noItems {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-page-container {
    width: 100vw;
}