.footer {
    /* height: 20rem;  height does not work for all items page*/
    width: 100vw;
    padding-top: 15vw;
    padding-bottom: 15vw;
    /* margin-top: 5rem; */
    border-top: 1px solid #000;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50%;
}