.item-page {
    display: flex;
    /* height: 200vh; */
    width: 100vw;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-direction: column;
}

.item-info {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 32px;
}

.price {
    margin: 30px;
    font-size: 20px;
}

.description {
    width: 80vw;
    margin: 30px;
}