
.buyer-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    height: 115vh;
    width: 100vw;
    /* margin-top: 7rem; */
    /* padding-top: 7rem; */
    padding-top: 8.5rem;
    /* margin-bottom: 3rem; */
    background-color: #21212B;
}

#heading-form-container {
    display: flex;
    flex-direction: column;
}

#register-heading {
    padding-top: 0px;
    padding-bottom: 40px;
    margin-left: 2rem;
    color: white;
}

/* Form */
.register-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: normal;
    box-shadow: none;
}
/* Form's Input */
.register-form > .register-input {
    margin: 1rem;
    width: 90%;
    padding: 1.5rem !important;
    font-size: 1rem !important;
    border-radius: 0.85rem;
}

:focus {
    outline: none !important;
}

.carousel-item {
    /* height: 40rem */
    height: 37rem
}

.register-form > .submit-button, .submit-button-disabled {
    margin-top: 2rem;
}

/* .register-form > .submit-button{
    background-color: black;
    color: white;
    border: 1px solid #fff;
    margin-top: 1rem;
    width: 3rem;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border-radius: 0px;
}

.register-form > .submit-button:hover {
    background-color: white;
    color: black;
    transition: 0.2s all ease-in;
    border: 1px solid #000;
}

.register-form > .submit-button-disabled {
    background-color: #c3c3c3;
    color: white;
    border: 1px solid #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border-radius: 0px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 45%;
    height: 100%;
} */



/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {
    .carousel-item {
        /* height: 35rem; */
        
    }
    .register-form {
        height: 30rem;

    }
    /* .register-form > .register-input {
        margin: 0.7rem;
        padding: 1rem !important;
    } */
}

@media only screen and (max-width: 600px) {
    .buyer-login {
        grid-template-columns: 1fr;
        height: 107vh;
    }
    #register-heading {
        font-size: 1.5rem !important;
        padding-bottom: 0px
    }
    #heading-form-container {
        width: 100vw;
    }
    #buyer-carousel {
        display: none;
    }
    .register-form > .submit-button, .submit-button-disabled {
        width: auto;
        height: auto;
        padding: none;
    }
}