.navbar {
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed !important;
    height: 10vh;
    align-items: center;
    border-bottom: 1px solid #000;
    z-index: 2;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* width: 12vw; */
    color: #fff;
    position: absolute;
    top: 0;
    margin-left: 4vw;
}

a {
    color: #000 !important;
    text-decoration: none !important;
}

.home {
    /* margin-left: 5vw; */
    /* color: #fff; */
    font-size: 32px;
    /* transition: 0.2s all ease-in-out; */
}

.home-container:hover {
    /* transition: 0.2s all ease-in-out; */
    color: #b8b8b8;
}

.login-cart-profile-nav-container {
    display: flex;
    width: 10rem;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-right: 3.5vw;
}

.guest-cart-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-right: 4vw;
}

.cart-icon {
    color: #fff;
    /* margin-right: 5vw; */
    font-size: 32px;
    /* transition: 0.5s all ease-in-out; */
}

.cart-icon:hover {
    transform: rotate(15deg);
    /* transition: 0.5s all ease-in-out; */
    color: #b8b8b8;
}

.user-profile {
    color: #fff;
}

.user-profile:hover {
    color: #b8b8b8;
}

.user-icon {
    font-size: 32px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logout-button, .login-button {
    height: 100%;
    background-color: black;
    color: white;
    /* margin-right: 2vw; */
    width: 5em;
    /* border: 1px solid #fff; */
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    right: 0; */
}

.logout-button:hover, .login-button:hover {
    background-color: white;
    color: black;
    /* transition: 0.2s all ease-in; */
    /* border: 1px solid #000; */
}

.login-button-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: #000 !important;
    /* height: 10vh; */
    /* width: 10rem; */
    /* margin-top: 4vh !important; */
    color: #fff;
    z-index: 2;
}

.dropdown-menu > a {
    background-color: #000;
    color: #fff;
}

.dropdown-item {
    font-size: 20px;
    color: #fff !important;
}

.dropdown-item:hover {
    color: #000 !important;
}

.dropdown {
    height: 100%;
}

.dropdown > button {
    height: 100%;
    width: 100%;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.dropdown > button:hover {
    background-color: #fff !important;
    color: #000;
}

.show>.btn-primary.dropdown-toggle {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none !important;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #000 !important;
    border-color: #000 !important;
    box-shadow: none !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #fff !important;
    color: #000 !important;
}



/* HAMBURGER */
#navbar-hamburger {
    display: none;
}

@media only screen and (max-width: 600px) {
    #navbar-hamburger {
        display: block;
    }
    #navbar-hamburger .MuiButtonBase-root {
        color: white;
    }
    #nav-bar-dropdown, .login-button-container {
        display: none
    }
    .home-container {
        /* margin-left: 20vw; */
        /* justify-content: center; */
        margin-left: 0;
        position: unset;
    }
    .login-cart-profile-nav-container .MuiButtonBase-root {
        /* margin-right: 20px; */
        justify-content: flex-end;
    }
    .login-cart-profile-nav-container {
        width: auto;
    }
}