.navbar {
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 10vh;
    align-items: center;
    border-bottom: 1px solid #000;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* width: 12vw; */
    color: #fff;
    position: absolute;
    top: 0;
    margin-left: 5vw;
}

.home {
    /* margin-left: 5vw; */
    /* color: #fff; */
    font-size: 32px;
    /* transition: 0.2s all ease-in-out; */
}

.home-container:hover {
    /* transition: 0.2s all ease-in-out; */
    color: #b8b8b8;
}

.cart-profile-container {
    display: flex;
    width: 15rem;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-right: 2vw;
    /* position: absolute;
    right: 0; */
}

.cart-icon {
    color: #fff;
    /* margin-right: 5vw; */
    font-size: 32px;
    /* transition: 0.5s all ease-in-out; */
}

.cart-icon:hover {
    transform: rotate(15deg);
    /* transition: 0.5s all ease-in-out; */
    color: #b8b8b8;
}

.user-profile {
    color: #fff;
}

.user-profile:hover {
    color: #b8b8b8;
}

.user-icon {
    /* color: #000; */
    font-size: 32px;
}

/* .user-icon:hover {
    color: #b8b8b8;
} */

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logout-button, .login-button {
    height: 100%;
    background-color: black;
    color: white;
    /* margin-right: 2vw; */
    width: 5em;
    /* border: 1px solid #fff; */
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    right: 0; */
}

.logout-button:hover, .login-button:hover {
    background-color: white;
    color: black;
    /* transition: 0.2s all ease-in; */
    /* border: 1px solid #000; */
}

.login-button-container {
    display: flex;
    height: 100%;
}